.headerImageBg{
  height: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 20%,#161616 100%);

  &__text-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    margin: 0 15px;

      h1{
        font-family: 'Varela Round';
        font-size: 4rem;
        letter-spacing: 1rem;
        @include color-opacity($white, 0.7);
        text-transform: uppercase;
      }
  }

  .diagonal.home-left, .diagonal.home-right path{
    fill: #f5f5f5;
    stroke: #f5f5f5;
    stroke-width: 4;
  }
  .diagonal.home-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    z-index: 1;
  }
  .diagonal.home-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    z-index: 1;
    left: auto;
  }
}
