.timeLine{
  &__section-title{
    text-align: center;
    font-family: 'Varela Round';
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: .5rem;
    @include color-opacity($lightDark, 0.7);
    text-transform: uppercase;
    padding: 100px 0 30px 0;
  }
}

.vertical-timeline::before{
  height: 95% !important;
  top: 30px !important;
}
.vertical-timeline-element-icon{
  transition: all .3s ease;
}
.vertical-timeline-element-icon:hover{
  box-shadow: 0 0 0 4px $lightGreen, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}
.vertical-timeline-element--bpms{
  &__a{
    text-decoration: none !important;
    color: $white;
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 700;

      p{
        margin-top: 35px;
      }
      @media (max-width: 1169px){
      &{
        font-size: .7rem;

        p{
          margin-top: 10px;
        }
      }
    }
  }
}
.vertical-timeline-element--work .vertical-timeline-element-content{
  border-top: 3px solid $lightGreen;
}
.vertical-timeline-element-title,
.vertical-timeline-element-subtitle,
.vertical-timeline-element-description,
.vertical-timeline-element-date {
  font-family: 'Merriweather';
}
.vertical-timeline-element-description{
  color: #6c757d !important;
}
@-webkit-keyframes timeline {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes timeline {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
    text-align: center !important;
    // color: $lightGreen;
    font-weight: 300;
  }
  .last-child-timeline{
    -webkit-animation: timeline 3s infinite;
    animation: timeline 3s infinite;
  }
}
@media (max-width: 1169px){
  .vertical-timeline-element-content{
    margin-left: 100px !important;
  }
  .vertical-timeline-element-icon{
    width: 70px !important;
    height: 70px !important;
    margin-left: -15px !important;
  }
}
