$white: #fff;
$green: #006159;
// $green: #00a294;
$lightGreen: #00b8a9;
$background-color: #f5f5f5;
$lightDark: #374047;

// Avatar Card variable
$fontOrigin: 1.3rem;     /* 16px */
$fontSmall: 0.625em;   /* 10px */
$fontMedium: 0.875em;  /* 14px */
$fontNormal: 1em;      /* 16px */
$fontLarge:  1.375em;  /* 22px */
$fontLight: 100;
$fontRegular: 400;
$speed: 0.65s;
